.footer {
display: flex;
justify-content: space-evenly;
padding: 10px 0 100px;
}
.footer a {
color: #ffffffeb;
font-size: 16px;
line-height: 24px;
font-weight: 400;
text-decoration: none;
margin-top: 10px;
}
.footer a:hover {
text-decoration: underline;
}
.footer-container {
display: flex;
flex-direction: column;
}
.footer-container-developer {
margin-top: 30px;
}
.footer img {
height: 16px;
width: 16px;
}