.logoSection {
display: flex;
flex-direction: column;
}
.upperLogo-container {
display: flex;
justify-content: space-around;
margin: 100px 0px 25px;
}
.upperLogo-container img {
padding: 35px;
background-color: #1a202c;
border-radius: 6px;
}
.lowerLogo-container img {
background-color: #1a202c;
border-radius: 6px;
}
.lowerLogo-container {
display: flex;
justify-content: space-evenly;
margin: 25px 0px 50px;
}
.logoSection img {
cursor: pointer;
}
.container {
width: fit-content;
padding: 10px 150px 100px;
}
.container-header {
font-size: 36px;
font-weight: 500;
line-height: 42px;
}
.container-description {
width: 60%;
color: #a0aec0;
font-size: 20px;
line-height: 30px;
margin-top: 10px;
}