.navbar {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 100px;
}
.title {
display: flex;
flex-direction: row;
}
.title-logo {
height: 35px;
width: 35px;
border-radius: 5px;
background-color: #0042da;
color: #ff8e20;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.upper,.lower {
display: flex;
margin: 0.5px;
}
.circleUpper {
height: 4px;
width: 4px;
border-radius: 50%;
background-color: #ff8e20;
margin: 1px;
}
.rectangleUpper {
height: 4px;
width: 16px;
border-radius: 1px;
background-color: #ff8e20;
margin: 1px;
}
.circleLower {
height: 4px;
width: 4px;
border-radius: 50%;
background-color: #ffffff;
margin: 1px;
}
.rectangleLower {
height: 4px;
width: 16px;
border-radius: 1px;
margin: 1px;
background-color: #ffffff;
}
.title-header {
font-size: 30px;
font-weight: bold;
margin-left: 10px;
}
.button {
cursor: pointer;
}
.signIn-btn {
font-size: 20px;
padding: 10px;
border: 2px solid #7ea6ff;
border-radius: 5px;
color: #7ea6ff;
background-color: #000000;
}
.create-btn {
font-size: 20px;
padding: 10px;
border: 2px solid #1a5fff;
border-radius: 5px;
color: #ffffff;
background-color: #1a5fff;
margin-left: 10px;
}